.navbar{
    border: 1px solid black;
    width: 800px;
    height: 101px;
    /* margin-top: -288px; */
    margin-left: 25%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

.logoi{
    width: 200px;
    height: 40px;

}
.bell{
    border: 1px solid rgb(58, 53, 53);
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;

}
.bell > img{
    height: 100%;
    width: 100%;
}
.dropdown{
    /* border: 1px solid black; */
    width: 110px;
    height: 40px;
    position: relative;
}
.text{
    position: absolute;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 15px;
}
.sidebar{
    border: 1px solid black;
    height: 500px;
    width: 133px;
    margin-top: 10px;
    margin-left: 25%;
}
body{
    overflow-y: scroll;
}
.color{
    color: black;
}